language: go

sudo: false

go:
 - 1.6

os:
 - linux

before_install:
 - go get github.com/onsi/gomega
 - go get github.com/onsi/ginkgo
 - go get golang.org/x/tools/cmd/cover
 - go get gopkg.in/yaml.v2

install:
- "export GOPATH=$GOPATH:$HOME/gopath/"

script:
 - ./test.sh

after_success:
 - bash <(curl -s https://codecov.io/bash)

