language: go
go:
- 1.6

os:
- linux

services:
- elasticsearch
- docker

before_install:
 - go get github.com/onsi/gomega
 - go get github.com/onsi/ginkgo
 - go get golang.org/x/tools/cmd/cover
 - go get gopkg.in/yaml.v2
 - sleep 10

install:
 - export GOPATH="${TRAVIS_BUILD_DIR}/Godeps/_workspace:$GOPATH"
 - export PATH="${TRAVIS_BUILD_DIR}/Godeps/_workspace/bin:$PATH"

before_script:
 - go vet ./...

script:
 - ./test.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)

