language: go
go:
- 1.6

before_install:
  - go get github.com/onsi/gomega
  - go get github.com/onsi/ginkgo
  - go get golang.org/x/tools/cmd/cover

install:
- go get gopkg.in/yaml.v2
- "export GOPATH=$GOPATH:$HOME/gopath/src/github.com/Hamstak/rocketLog/src/rocketlog"

script:
  - go test -coverprofile=coverage.txt -covermode=atomic rocketlog/...

after_success:
  - bash <(curl -s https://codecov.io/bash)

