language: go

sudo: false

go:
 - 1.6

os:
 - linux
 - osx
 - windows

before_install:
 - go get github.com/onsi/gomega
 - go get github.com/onsi/ginkgo
 - go get golang.org/x/tools/cmd/cover
 - go get gopkg.in/yaml.v2

script:
 - go get
 - ./test.sh

install:
 - go get gopkg.in/yaml.v2

after_success:
 - bash <(curl -s https://codecov.io/bash)

